importFrom(ape, dist.dna, read.dna, write.dna)
importFrom(igraph, graph.adjacency, clusters, walktrap.community)
importFrom(network, as.network.matrix, plot.network)
export(BARRIEL, GetHaplo, nt.gap.comb, simuEvolution, distance.comb, HapPerPop, perc.thr, single.network, FIFTH, MCIC, pop.dist, FindHaplo, mutationSummary, SIC)
